* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Main colours*/
  --pink-dark: #d83d7f;
  --pink-bright: #ff5da4;
  --pink-medium: #ffa8ce;
  --pink-light: #ffc0dc;
  --pink-lighter: #ffe8f4;
  --white: #ffffff;
  --gray-medium: #868686;
  --black: #000000;

  /* Button colours */
  --button-bg: #ff5da4; /* Vibrant Pink for default button background */
  --button-hover-bg: #d83d7f; /* Darker Pink on hover */
  --button-text: #ffffff; /* White text for contrast */
  --button-border: #ffa8ce; /* Medium Pink for border */
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.brittany {
  font-family: "Brittany Signature", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.glacial {
  font-family: "Glacial Indifference", sans-serif;
}

h1 {
  font-family: "Brittany Signature", sans-serif;
  font-weight: 500;
  font-size: 5em;
  font-display: bold;
  text-shadow: 1px 1px 0 #d83d7f;
  text-align: center;
  color: #d83d7f;
}

h2 {
  font-family: "Fredoka";
  font-size: 5em;
  text-transform: uppercase;
}

h3 {
  font-family: "Fredoka", sans-serif;
  font-size: 4em;
}

h4 {
  font-family: "Fredoka", sans-serif;
  font-size: 2.5em;
}

h5 {
  font-family: "Fredoka", sans-serif;
  font-size: 1em;
}

h6 {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

p {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 1.5em;
}
